/*
* The style of Henry Levo's website
* Copyright, Henry Levo  
* 16.11.2017
*
*/



/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
Shared
    - Section
    - Header

Main Page
    - Primary Menu
    - Landing Page

CV Page
    - The CV

Where Page
    - Google Maps

*/


/* Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 0px !important;
    height: 100vh;
    background-color: #63D2FF;
}

.header {
    color: #fff; 
    text-align: center;
    margin-bottom: 25px;
}

/* Main Page: Primary Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sidenav {
    background-color: #fff;
    color: #333333;
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 36px;
    text-decoration: none;
    color: #333;
}

#main {
   /* transition: margin-right .5s; */
}

.persona {
    text-align: center;
    margin-top: 5vh;
}

.persona img {
    width: 5em;
    height: 5em;
    border-radius: 100%;
}

.menubar {
    margin-top: 15vh;
    text-align: center;
}

.menubar ul {
    list-style-type: none;
}

.menubar li a {
    text-decoration: none;
    color: #333333;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
}

.menubar li a.active {
    color: #000;
    font-weight: bold;
}

.menubar li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: #222;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; 
}

.menubar li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.copyright {
    color: #333;
    text-align: center;
    margin-top: 27vh;
    font-size: 1rem;
}

.menubtn {
    position: fixed;
    overflow: hidden;
    right: 3vw;
    top: 2vh;
    padding: 0px !important;
    color: #101B17;
    font-size: 1.5em !important;
    cursor: pointer;
    z-index: 1;
}


/* Landing page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
    background-image: url("../images/minimal-mac-chair.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.landingpage {
    text-align: center;
    color: #101B17;
    width: 50%;
    padding-top: 19%;
}

.landingpage img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.phototag {
    position: absolute;
    bottom: 4px;
    right: 5px;
    color: #fff;
    font-size: 0.7em;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 9px;
    margin-bottom: 0 !important;
}

/* CV Page: The CV
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cv-page {
    height: 100%;
    width: 100%;
}


.last-update {
    text-align: right;
    font-size: 0.6em;
    font-style: italic;
    margin-top: 5px;
}

.pages {
    background-color: #fff;
    margin: 40px 0 0 0 !important;
    height: 100%;
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 6px 30px 2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 6px 30px 2px rgba(0,0,0,0.45);
    box-shadow: 0px 6px 30px 2px rgba(0,0,0,0.45);
}


.page-one > h3 {
    padding-top: 20px; 
    text-align: center;
}

.page-two > h3 {
    padding-top: 20px; 
    text-align: center;
}

.cv-time {
    font-size: 0.8em;
}

.cv-time > p {
    font-size: 0.8em;
    margin: 5px 0 0 10px !important;
}

.cv-title {
}

.cv-title > h5 {
    font-size: 1.3em;
    margin: 0px !important;
    text-align: center;
    color: palevioletred;
}

.cv-title > p {
    font-size: 0.9em;
    margin: 0 0 15px 0 !important;
    text-align: center;
}

.switch {
    height: 50px;
    padding: 20px;
}
.onoffswitch {
    position: relative; 
    width: 92px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none !important;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #FFFFFF; 
    border-radius: 50px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: 
    left; width: 50%; 
    height: 35px; 
    padding: 0; 
    line-height: 35px;
    font-size: 13px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Styled";
    padding-left: 5px;
    background-color: #EEEEEE; 
    color: #08C2F0;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "Classic";
    padding-right: 5px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 25px; margin: 5px;
    background: #A1A1A1;
    position: 
    absolute; 
    top: 0; 
    bottom: 0;
    right: 53px;
    border: 2px solid #FFFFFF; 
    border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #34A7C1; 
}

/* Where Page: Google Maps
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.map-page {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #17263C;
}

#map {
    height: 60vh;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
